@charset "UTF-8";
canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.content_box {
display: inline-block;
margin: 5px;
width : 70%;
height: auto;
}
#side{
text-align: center;
padding: 25px;
padding-top: 40px;
margin: 5px;
margin-top: 15px;
display: inline-block;
float: right;
width: 28%;
height: 405px;
border: 1px solid #aaa;
	border-radius: 20px;
}
#scale {
text-align: center;
margin: 15px auto;
width: 98%;
height: 300px;
border: 1px solid #aaa;
	border-radius: 20px;
	padding: 13px;
}
#statistics {
margin: 15px auto;
width: 98%;
height: 400px;
border: 1px solid #aaa;
border-radius: 20px;
}
.graphBox { margin : 20px 70px; }
#outer { width: 100%; text-align: center; }
#date {width: 100%; font-size: 20px;}